<div class=" profile-pic circular"><img ng-src="{{user.photo}}" alt="{{user.f_name}}" />  </div>
<div class="im-embed-attachment">
    <div class="im-embed-attachment-viewer"  track-on="focusin|mouseover" track-event="viewer-preview" tabindex="-1">
	  	<div class="col-lg-12 col-md-12 widget-content" >

			<div mentio-text-angular data-ng-model="richtextContent.html" ></div>
			<!--<button data-ng-click="preview()" class="btn btn-primary pull-right">Preview</button>-->
			<!--<button data-ng-click="submit()" class="btn btn-primary pull-left">Submit</button>-->
			<!--
			<div class="col-lg-6 col-md-6  widget-viewer  widget-content">
				<h3>Preview</h3>
				<div compile="previewData.html" ></div>
			</div>
			-->
		</div>
		
	</div>
</div>
<div class="clearfix"> </div>
