<div class="im-image-selector">
    <div class="modal-header">
        <h3 class="modal-title">Upload File</h3>
    </div>
    <div class="modal-body">
        <div class="row" >
            <div class="col-lg-12 col-md-12  widget-content">
  <button ngf-select ng-model="filesUpload" ngf-multiple="false" ngf-keep="true"  accept="{{allowTypes}}" ngf-accept="validateType($file)"    class="btn btn-success" ng-disabled="uploadProgress">{{uploadButtonText}}</button>
    <div class="filesList upload-list">
        <ul style="clear:both" ng-show="filesUpload.length > 0" >
            <li class="sel-file" ng-repeat="f in filesUpload" >
                <img ng-show="f.type.indexOf('image') > -1" ngf-src="f" class="thumb" ngf-accept="'image/*'">
                <span class="progress" ng-show="f.progress >= 0">
                  <div style="width:{{f.progress}}%">{{f.progress}}%</div>
                </span>
                <span class="label label-info">{{f.name}}</span> - <span class="label label-info">size: {{f.size}}B</span> - <span class="label label-default">type: {{f.type}}</span>
                <button class="button btn btn-danger upload-button-abort" ng-click="f.upload.abort();f.upload.aborted=true; abort(f)" ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">Abort
                </button>
                <a ng-show="f.result && f.result.url " href="javascript:void(0)"  ng-click="f.showDetail = !f.showDetail" class="label label-success  upload-result" >Success</a>
                 <a ng-show="f.result && !f.result.url " href="javascript:void(0)"  ng-click="f.showDetail = !f.showDetail" class="label label-danger  upload-result" >Failed</a>
                <button class="button btn btn-danger pull-right" ng-click="remove(f)" ng-show="f.result">X
                </button>
                <div ng-show="f.result" class="upload-response">
                    <div  ng-show="f.result.url"><a href="{{getUrl(f.result.url)}}" alt="{{item.name}}" target="_blank">{{getUrl(f.result.url)}}</a></div>
                    <div  ng-show="!f.result.url"><h5>{{f.result}}</h5></div>
                </div>
            </li>
        </ul>
    </div>
</div>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>