<div class=" profile-pic circular"></div>
<div class="col-lg-12 col-md-12 widget-content" >
	<div class="col-lg-6 col-md-6 widget-content">
		<div mentio-text-angular data-ng-model="richtextContent.html"></div>
		<button data-ng-click="preview()" class="btn btn-primary pull-right">Preview</button>
<button data-ng-click="submit()" class="btn btn-primary pull-left">Submit</button>

	</div>
	<div class="col-lg-6 col-md-6  widget-viewer  widget-content textContent">
		<h3>Preview</h3>
		<div compile="previewData.html" ></div>
	</div>
</div>

