<html ng-app="partners">

<head>
  <title> Partners | iMentor</title>

  <link rel="icon" type="image/png" href="//cdn.imentor.org/new_platform/static/auth/img/favicon.png">

  <!-- Vendor CSS -->
  <link href="//cdn.imentor.org/new_platform/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//cdn.imentor.org/new_platform/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/new_platform/static/auth/css/partners.css"/>

  <!-- Vendor Scripts -->
  <script src="//cdn.imentor.org/new_platform/static/jquery/jquery.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular/angular.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular-resource/angular-resource.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/bootstrap/js/bootstrap.min.js"></script>

  <!-- Custom JavaScript -->
  <script type="text/javascript"  src="/new_platform/static/auth/js/partners.js"></script>

</head>


<body>

<div class="partners" style="width: 100%; height: 100%; font-weight: 200;  min-height: 1200px;" ng-controller="partnersCtlr">

  <div class="partner-inner">

    <div class="policy" style=""><a style="color:white;" href="/">Back to sign in page</a></div>
    <h1 class="partner-header" style="font-weight: 200;"> iMentor is proud to partner with [[name]] </h1>
    <div class="partner-container">
      <div class="partner-logos">
        <img class="partner-imgs" src="/new_platform/static/auth/img/mentor2.0.jpg" alt="imentor logo" style="width: 40%;height: auto;margin-bottom: 50px;margin-top: 40px;">
        <img class="partner-imgs" src="/new_platform/static/auth/img/BBBS_Logo.jpg" alt="imentor logo" style="width: 70%;height: auto;">
      </div>
      <div class="partner-text" style="padding-right: 50px;">
        <p><strong>mentor2.0</strong> is Big Brothers Big Sisters’ technology-enriched 1-to-1 youth mentoring program directly targeting High School students. Through partnerships between Big Brothers Big Sisters, schools, companies and individuals, mentor2.0 will support high-impact mentoring relationships, aimed at providing high school students with the support and guidance they need to graduate high school and succeed in college and the workforce.
        </p>
        <p><strong>mentor2.0</strong> maintains the fundamentals of quality mentoring Big Brothers Big Sisters is known for through <strong>1-to-1 relationships</strong>, providing <strong>professional relationship support</strong> and maintaining a <strong>focus on safety</strong> for the benefit of the mentee and mentor. mentor2.0 facilitates mentoring relationships that ensure more students from low-income/at-risk communities enroll in college and graduate with a degree. By partnering with high schools,mentor2.0 leverages the community to re-imagine how public high schools support students through the college process. Mentor-mentee pairs build their relationships through weekly email communication and monthly in-person meetings.</p>
      </div>
    </div>
    <div style="padding: 30px 0px; text-align: center;"><strong><a style="color: white;font-weight: 400;cursor: pointer;" ng-href="[[partnerSite]]" target="_blank">Visit [[name]]'s website</a></strong></div>
    <div class="partner-program">
      <div class="partner-logos">
        <img class="partner-imgs" src="/new_platform/static/auth/img/iMentor.jpg" alt="imentor logo" style="width: 80%;height: auto;margin-top: 20px;">
      </div>
      <div class="partner-text">
        <p>iMentor’s national partnership program brings iMentor’s effective mentoring model to communities nationwide. We partner with organizations and schools that share our goal of empowering youth from low-income communities to graduate high school, succeed in college, and achieve their life ambitions. Our partners utilize all aspects of the iMentor model, including our college-success curriculum, mentor training and screening materials, technology platform, and program analysis tools. Combining the expertise and talents of our local partners with the innovations and best practices of the iMentor model, iMentor’s national partnership program is helping young people nationwide succeed in college and beyond.
        </p>
        <p>All iMentor partner programs are subject to the iMentor privacy policy. You can read more about that by clicking <a style="" href="https://imentor.org/privacy-policy">here</a>.</p>
      </div>
    </div>
    <div class="policy"><a style="color:white;" href="https://imentor.org/privacy-policy">iMentor Privacy Policy</a></div>
  </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3696665-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>





