<!DOCTYPE html>
<html >
<head lang="en">
  <meta charset="UTF-8">
  <title>Attendance | iMentor</title>
  <link rel="shortcut icon" href="//cdn.imentor.org/new_platform/static/img/favicon.png" type="image/x-icon" />

  <!-- Vendor CSS -->
  <link href="//cdn.imentor.org/new_platform/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//cdn.imentor.org/new_platform/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="//cdn.imentor.org/new_platform/static/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" />
  <link href="//cdn.imentor.org/new_platform/static/angular-hamburger/angular-hamburger-toggle.css" rel="stylesheet" />
  <link href="//cdn.imentor.org/new_platform/static/angular-multi-select/isteven-multi-select.css" rel="stylesheet"/>
  <link href="//cdn.imentor.org/new_platform/static/ngDialog/lib/ngDialog.min.css" rel="stylesheet" />
  <link href="//cdn.imentor.org/new_platform/static/ngDialog/lib/ngDialog-theme-plain.min.css" rel="stylesheet" />
  <link href="/new_platform/static/attendance/css/attendance.css" rel="stylesheet" />
  <link href="/new_platform/static/hambuger-menu/header-bar-universal-admin.css" rel="stylesheet" />
  <!-- Custom CSS -->

  <!-- Vendor Scripts -->
  <script src="//cdn.imentor.org/new_platform/static/jquery/jquery.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/postal/lodash.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/exif/exif.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular/angular.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular-cookies/angular-cookies.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular-animate/angular-animate.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular-ui-router/angular-ui-router.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular-route/angular-route.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular-ui-utils/ui-utils.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/angular-scroll/angular-scroll.min.js"></script>  
  <script src='//cdn.imentor.org/new_platform/static/angular-resource/angular-resource.js'></script>
  <script src="//cdn.imentor.org/new_platform/static/angular-hamburger/angular-hamburger-toggle.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/ngDialog/lib/ngDialog.min.js "></script>
  <script src="//cdn.imentor.org/new_platform/static/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/bootstrap-toggle/js/bootstrap-toggle.directive.min.js"></script>
 <script src="//cdn.imentor.org/new_platform/static/angular-multi-select/isteven-multi-select.js"></script>
 <script src="//cdn.imentor.org/new_platform/static/autolinker/Autolinker.js"></script>
 <script src="//cdn.imentor.org/new_platform/static/exif/angular-fix-image-orientation.js"></script>
 <script src="//cdn.imentor.org/new_platform/static/isMobile/isMobile.min.js"></script>
  <script src="//cdn.imentor.org/new_platform/static/fsm-sticky-header/fsm-sticky-header.js"></script>

  <!-- Custom Scripts -->

  <script src="/new_platform/static/attendance/js/attendance.js "></script>

</head>
<body ng-app="attendance">
<div ng-include src="'/new_platform/static/attendance/nghtml/header-bar.html'"></div>
<div ng-view>
</div>
</body>
</html>

