<!--ng_required doesn't make any sense-->

<!-- Type =22 <br/>-->
<div style="display: inline-block;">
  <span class="questiontext" ng-bind-html="htmlText"></span>

  <div ng-repeat="obj in answers | orderBy:'ordinal' track by $index "
    ng-disabled="!question.is_active"
    ng-click="update(obj)"
    ng-enter="update(obj)"
    ng-class="{'selected': obj.selected==true }"
    class="multi-select-field"
    tabindex="[[tabIndex+$index]]"
  >
    <span class="answer">[[obj.answer_text]]</span><span style="float: right;"  ng-class="{'selected': obj.selected==true }" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  </div>
</div>
<span ng-show="question.required && question.edited == true && question.showRequired == true" class="form-error">[[fieldErrMsg]]</span>
<span class="error">[[error]]</span>


