<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | iMentor</title>
    <link rel="shortcut icon" href="//cdn.imentor.org/new_platform/static/img/favicon.png" type="image/x-icon" />

    <!-- Vendor CSS -->
    <link href="//cdn.imentor.org/new_platform/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//cdn.imentor.org/new_platform/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdn.imentor.org/new_platform/static/menu/css/production/libs.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://i.icomoon.io/public/3e64826c61/iMentorIcons/style.css">

    <!-- Custom CSS -->
    <link href="/new_platform/static/menu/css/production/app.min.css" rel="stylesheet" />

    <!-- Vendor Scripts -->
    <script src="/new_platform/static/menu/js/production/libs.min.js "></script>

    <!-- Custom Scripts -->
    <script src="/new_platform/static/menu/js/production/app.min.js "></script>

</head>
<body ng-app="menu">

<div ng-include src="'/new_platform/static/menu/nghtml/header-bar.html'"></div>

<div class="admins" style="height: 100%; font-weight: 200; " ng-controller="MenuCtrl" >
    <div style="font-weight: 200 !important;" class="admin-container">
        <div class="admin-heading"><h2 style="font-weight:200">Welcome to the iMentor Platform</h2></div>
        <div class="row">
            <div class="square" ng-click="goHref('/flipbook/');">
                <div class="sq-header">Flipbook</div>
                <div><span class="fa fa-book" aria-hidden="true"></span></div>
            </div>
            <div class="square" ng-click="goHref('/lesson_mgmt/');">
                <div class="sq-header">Lesson Management</div>
                <div><span class="fa fa-pencil-square-o" aria-hidden="true"></span></div>

            </div>
            <div class="square" ng-click="goHref('/message/list/note/');">
                <div class="sq-header">Add a Note</div>
                <div><span class="fa fa-sticky-note-o" aria-hidden="true"></span></div>

            </div>
        </div>
        <div class="row">
            <div class="square" ng-click="goHref('/events/admin/');">
                <div class="sq-header">Calendar</div>
                <div><span class="fa fa-calendar" aria-hidden="true"></span></div>
            </div>
            <div class="square" ng-click="goHref('/iuser/');">
                <div class="sq-header">User Management</div>
                <div><span class="fa fa-user-plus" aria-hidden="true"></span></div>
            </div>
            <!-- <div class="square" ng-click="goHref('/reporting/email_tracker/');"> -->
            <div class="square" ng-click="goHref('/snapshot/');">
                <div class="sq-header">Snapshot</div>
                <div><span class="fa fa-camera" aria-hidden="true"></span></div>
            </div>
        </div>
    </div>

</div>
    <div ng-view>

    </div>





<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3696665-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
