<div class="resetpass" ng-controller="InfoController">
    <div class="centered">
        <div class="appinfo">
        <h2> Welcome to the<br>Mentor Application</br></h2>
        <div class="margin20"></div>
        <p> Thank you for your interest in {{name}}. This application will take about 15&ndash;30 minutes
           to complete. You can save and resume your progress by signing into your account.</p>
        <p> On the last page of this application we will ask you for several personal references.
                You may wish to have that information available now to provide when you get to that last page.</p>
        <div class="margin20"></div>
            <div class="row">
                <button class="button-all button-med orange" ng-click="gotoform()">Start application</button>
                <div class="margin20"></div>
            <div><a class="appinfoback" ng-click="logout()">I'm not ready yet.</a></div>
                </div>
        </div>
    </div>
    <div ng-if="ch == 'bbbsmb.imentor.org'">
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                    document,'script','https://connect.facebook.net/en_US/fbevents.js');

            fbq('init', '806318922773206');
            fbq('track', 'AddToWishlist');</script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=806318922773206&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
        </div>
</div>


<script type="text/javascript">
    var $mcGoal = {'settings':{'uuid':'abd41dd40d94366d829b2952c','dc':'us11'}};
    (function() {
        var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
        sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
    })();
</script>