<div class="resetpass-background"></div>
<form name="resetPasswordForm" class="resetpass" ng-controller="ResetPasswordController" ng-submit="resetPassword(email)" novalidate>
    <div class="send-pass centered">
        <h2>Reset your password</h2>
        <div class="margin20"></div>
        <h4>Enter your email address to receive an email with a password reset link.</h4>
        <div ng-show="authenticationError">
            Authentication Failed: ({{authenticationError}})
        </div>
        <input type="email" ng-model="email" name="email" placeholder="Email address" required />
        <button ng-disabled="resetPasswordForm.$invalid" ng-click="submitted=true" class="button-all orange bolded button-sm">Submit</button>
        <div class="error" ng-show="resetPasswordForm.email.$error.email && submitted==true">
            Please enter a valid email.
        </div>
        <div class="margin40">If you are still having trouble signing in,
            <br>please send us a message at <a href="mailto:support@imentor.org?subject=Trouble signing in">support@imentor.org</a> and describe your problem.</br>
        </div>
    </div>
</form>
