body {
  /*background: url('/new_platform/static/flipbook/img/flipbook_bg.jpg') no-repeat center center fixed;*/
  background: url('//cdn.imentor.org/new_platform/static/flipbook/img/flipbook_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: rgba(7,62,72,1);
  background: -moz-linear-gradient(top, rgba(7,62,72,1) 0%, rgba(38,91,117,1) 34%, rgba(72,122,165,1) 70%, rgba(96,144,198,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,62,72,1)), color-stop(34%, rgba(38,91,117,1)), color-stop(70%, rgba(72,122,165,1)), color-stop(100%, rgba(96,144,198,1)));
  background: -webkit-linear-gradient(top, rgba(7,62,72,1) 0%, rgba(38,91,117,1) 34%, rgba(72,122,165,1) 70%, rgba(96,144,198,1) 100%);
  background: -o-linear-gradient(top, rgba(7,62,72,1) 0%, rgba(38,91,117,1) 34%, rgba(72,122,165,1) 70%, rgba(96,144,198,1) 100%);
  background: -ms-linear-gradient(top, rgba(7,62,72,1) 0%, rgba(38,91,117,1) 34%, rgba(72,122,165,1) 70%, rgba(96,144,198,1) 100%);
  background: linear-gradient(to bottom, rgba(7,62,72,1) 0%, rgba(38,91,117,1) 34%, rgba(72,122,165,1) 70%, rgba(96,144,198,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073e48', endColorstr='#6090c6', GradientType=0 );
  font-family:"Verdana", "Helvetica Neue", "Helvetica", "Arial" !important;
  font-weight: 200;
  color:white;
  position: relative;
  height: 100%;
}
.fa {
  font-family: 'FontAwesome' !important;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6{
  color:white;
  font-weight: 200;
}
a {
  color: white;
  text-decoration: none;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #737373;
  font-weight: 200;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 14px;
  padding: 10px;
  width: 400px;
  cursor: pointer;
  background: #FFFFFF url('//cdn.imentor.org/new_platform/static/img/arrow-down.png') no-repeat 96% center;
  background-size: 15px 15px;
  border: 0px solid #3a7cfb !important;
  box-shadow: none !important;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
select.dateselect {
  width: 100px;
  background: #FFFFFF url('//cdn.imentor.org/new_platform/static/img/arrow-down.png') no-repeat 80px center;
  background-size: 15px;
}
.content {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.flipbook-body {
  min-height: 800px;
  height: auto;
  width: 1080px;
  padding: 0px 40px 30px 40px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 40px;
}
.flipbook-body .container-fluid  { 
  padding: 0;
}
#wrapper {

  -webkit-backface-visibility: hidden;
  padding: 2px;
}
.UnitContainer{
 
  margin:0 auto;
}
.btn-primary {
  padding: 12px 10px;
  font-size: 14px;
  font-weight: 200;
  border: 0px;
  background-color: #EEEEEE;
  border-radius: 0px;
}
.orange{
  background-color: #FD9851;
}
.btn-primary a{
  color: #626262;
}
.orange a{
  color: white;
}
.btn-primary a:hover{
  color: #626262;
}
.btn-primary.orange a:hover{
  color: white;
}
.navbar-header a:visited {
  color: gray;
}
.btn-primary:hover {
  background-color: #FFFFFF;
  border-color: transparent;
}
.btn-primary.orange:hover {
  background-color: #FDA651;
  border-color: transparent;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus {
  background-color: #FDA651;
  color: white;
  border-color: transparent;
  outline: -webkit-focus-ring-color auto 0px;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background-color: #FDA651;
  color: white;
  border-color: transparent;
  outline: -webkit-focus-ring-color auto 0px;
}
button.finish.btn-primary:active,button.finish.btn-primary:focus {
  background-color: #EEEEEE !important;
}
.btn-primary[disabled]{
  background-color: transparent !important;
  font-size: 16px;
  font-style: normal;
  border: 1px solid #CCC;
  color: #CCC;
}
.btn-default.focus, .btn-default:focus,.btn-default:hover {
  color: #737373;
  background-color: white;
  border-color: transparent;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background-color: #FDA651;
  border-color: white;
}
.margin-15 {
  height: 15px;
}
.margin-20 {
  height: 20px;
}
.margin-30 {
  height: 30px;
}
.margin-40 {
  height: 40px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
.finishBtn {
  display: inline-block;
  padding: 15px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  width: 120px;
}
input::-webkit-input-placeholder{
  color: #737373;
  font-weight: 200;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #737373;
  font-weight: 200;
}
input::-moz-placeholder {  /* Firefox 19+ */
  color: #737373;
  font-weight: 200;
}
input:-ms-input-placeholder {
  color: #737373;
  font-weight: 200;
}
.units {
  background-color:#f4f4f4;
}
.units:hover {
  cursor: pointer;
}
.lessonsContainer {
  width: 640px;
  display: inline-block;
  float: left;
  position: relative;
}
.lessons {
  background-color:white;
}
.lessons:hover {
  cursor: pointer;
}
.lessons.locked:hover {
  cursor: auto;
}
.lessonTitle{
  width: 1000px;
  margin-bottom: 30px;
}
.userStatus {
  position: relative;
  /* bottom: -80px; */
  background-color: blue;
  height: 50px;
  margin-top: 30px;
}
.mentorS {
  display: inline-block;
  width: 50%;
  float: left;
  height: 100%;
  display: -moz-inline-stack;
  *display: inline;
  vertical-align: top;
}
.menteeS {
  display: inline-block;
  width: 50%;
  float: right;
  height: 100%;
  display: -moz-inline-stack;
  *display: inline;
  vertical-align: top;
}
.table {
  /* width: 100%; */
  max-width: 100%;
  margin-bottom: 20px;
  margin: 0 auto;
  border: 1px solid #dadada;
}

table tr:nth-child(odd) {
    background-color: #EEEEEE;
}
table.new-content tbody {
    background-color: #ffffff;
    color: #2B2B2B;
    font-size: 14px;
    font-family: "Verdana", "Helvetica Neue", "Helvetica", "Arial" !important;
}
table.new-content thead, table.new-content thead td, table.new-content thead th ,  table.new-content tbody td{
    vertical-align: middle;
    border: none;
    /* min-width: 100px; */
}

table.new-content a {
  color: #4a4a4a;
}
table.new-content a:focus, table.new-content a:hover {
    color: gray;
}
table.new-content tr:hover {
    background-color: #E5F6FF;
}
.search {
  width: 100%;
  text-indent: 20px;
  color: #999999;
  font-size: 14px;
  height: 40px;
  border: 0px;
  border-bottom: 1px solid #7aabff;
  padding: 10px 0px 0px 5px;
  margin-top: 20px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3a7cfb;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #3a7cfb;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #3a7cfb;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #3a7cfb;
}
.customToggleStyle {
 
}
.customToggleStyle .btn.active, .customToggleStyle .btn:active , .customToggleStyle .btn{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.customToggleStyle .btn{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

button.flipbook-chc.selected:hover {
    background-color: #3a7cfb;
}
.flipbook-chc:hover {
    background-color: #6fa2fb;
}
button.selected {
    color: white;
    background-color: #3a7cfb;;
}
.flipbook-chc {
    background-color: #c6dbff;
    border: 0px solid black;
    padding: 10px;
    font-weight: 400;
    color: #6C6C6C;
    width: 105px;
    margin: -2px;
}

.partner-sites {
    display: inline-block;
    vertical-align: top;
}

.refresh {
    display: inline-block;
}

.refresh .icon {
    color: white;
    font-size: 20px;
}
.refresh .icon {
  color: white;
  font-size: 18px;
  font-weight: 200;
}
.refresh button {
  /* border: none; */
  /* background: transparent; */
  border: 0px solid black;
  padding: 7px 0px;
  font-weight: 400;
  color: #6C6C6C;
  width: 45px;
  /* margin: -2px; */
  background-color: #3a7cfb;
  margin-left: 20px;
}
.refresh button:focus, .refresh button:hover {
    color: gray !important;
    text-decoration: none;
}

/*
.multiSelect > button {
 border-radius: 0px; 
 background-image: none;
}

.multiSelect .caret {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-weight: 800;
    font-size: 11px;
    padding-left: 10px;

    width: auto;
    height: auto;
    margin:0;
    vertical-align: default;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:none;
}

.multiSelect .caret:before {
    content: "\e259";
}
*/
.disabled { cursor: default; opacity: .5; }

.glyphicon {
    color: #CECCCC;
}
.glyphicon.selected {
    color: #3a7cfb;;
}

table.new-content tbody tr.selected {
    background-color: #e5f6ef;
}
table.new-content tbody tr:hover {
    background-color: #E5F6FF;
}
table.new-content tbody tr {
    cursor: pointer;
    color: #4a4a4a;
}
table.new-content .open>.dropdown-menu {
  background-color: #4a4a4a;
  left: -9px;
  border: 1px solid rgb(255, 255, 255);
}
table.new-content .dropdown-menu>li>a {
    color: white;
}
table.new-content .dropdown-menu>li>a:focus, table.new-content .dropdown-menu>li>a:hover {
    color: #3a7cfb; !important;
    background-color: transparent !important;
}
table.new-content .manage-col {
  width: 50px;
}

table.new-content .flag-col{
  width: 50px;
  text-align: center;
}
.table-header{
  background-color: #4a4a4a !important;
  color: white;
  height: 40px;
}
.table-striped>tbody>tr:nth-of-type(odd) {

}
table.new-content tbody tr:hover {
  background-color: #e7effe;
}
.table>thead>tr>th {
  border: none;
  border-right: 1px solid white;
  font-weight: 200;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #EEEEEE;
}
.fa-search.fa-flip-horizontal {
  top: -25px !important;
  left: 2px !important;
  color: #3a7cfb;
  font-size: 18px !important;
}
span.fa.fa-flag.flag-ok.unselected {
  color: #CECCCC;
}
.fa.fa-flag.selected {
  color: #3a7cfb;

}
.table-header-top{
  border-bottom: 1px solid white;
}
/* Conversations */
.btn {
    border-radius: 0px !important;
}
.angularTextbar button.btn {
    padding: 9px 0px;
    width: 51px;
}
.btn-default:hover {
    border-color: #ccc !important;
}
.textAngularChat .angularTextbar button.btn {
    width: 60px;
}
span.bar-btn-dropdown {
    border: 0px solid red;
    margin: 0px;
    padding: 0px !important;
    opacity: 1 !important;
}
.fa {
    font-family: 'FontAwesome' !important;
    font-style: normal;
}

:focus {
    outline: none !important;
}
.ta-editor h1, .ta-editor h2, .ta-editor h3 {
    font-family: "Verdana", "Helvetica Neue", "Helvetica", "Arial" !important;
    font-weight: 200 !important;
    margin-bottom: 20px;
    color: rgb(68, 68, 68) !important;
}

.ta-editor h5 {
    font-family: "Verdana", "Helvetica Neue", "Helvetica", "Arial" !important;
    font-weight: 200 !important;
    color: rgb(68, 68, 68) !important;
}
.angularTextbar button.btn {
    padding: 9px 0px;
}
.angularTextbar button.btn-default {
  border: 0px solid #ccc !important;
  color: #333;
}

.angularTextbar button.btn-default:hover {
    color: #333;
    background-color: transparent;
    border: 0px solid #ccc !important;
}


.font-dropdown {
    background-color: transparent;
    border: 0px solid gray;
    font-size: 12px;
    line-height: 21px;
    width: 100%;
    text-align: left;
}

.font-dropdown:hover {
    background-color: rgb(219, 214, 214);
    width: 100%;
    line-height: 21px;
}
.ta-editor a {
    color: #3a7cfb; !important;
}

.ta-editor a:focus, .ta-editor a:hover {
    color: gray;
    text-decoration: none;
}

.ta-editor a:visited {
    color: #3a7cfb;  !important;
}

.ta-scroll-window.ta-text.ta-editor.form-control {
    border: 0px;
}

.form-control {
    box-shadow: none !important;
}
/* Conversations */

#flip-box button:focus, #flip-box button:hover {
    color: gray !important;
    text-decoration: none;
}
.flip-box .icon {
    color: white;
    font-size: 20px;
}
#flip-box .flip-navigation button {
    border: none;
    background: transparent;
}
.flip-box-content { 
    /*line-height: 1;*/
}
.flip-box-content iframe{ 
    width: 100%;
    height: 600px; 
    border: none;
    box-shadow: none;
    line-height: 1;
}
.flip-box-content .chat-container{
     position: relative;
    margin: 0 auto;
    min-height: 600px;
}
.ngdialog.ngdialog-theme-plain {
     padding-bottom: 10px; 
     padding-top: 60px; 
}
.ngdialog.ngdialog-theme-plain .ngdialog-content {
    width: 1250px;
    padding: 0em;
}

.flip-navigation {
  bottom: 0;
      width: 100%;
  font-size: 25px;
}

.flip-navigation-data{ 
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 15px;
}
.flip-navigation .next {
  right: 0;
  bottom: -12px;
  position: absolute;
  margin-right: 5px;
  font-size: 40px;
  font-weight: 800;
}

.flip-navigation .previous {
  left: 0;
  bottom: -12px;
  position: absolute;
  margin-left: 5px;
  font-size: 40px;
  font-weight: 800;
}

#flip-box a {
  color: #444;
}
#flip-box a:focus, #flip-box a:hover, #flip-box .close:focus, #flip-box .close:hover  {
    color: gray;
    text-decoration: none;
}
#flip-box .close-container {
  min-height: 35px;
}
#flip-box .close {
  font-style: normal;
  margin: 4px 11px 0px 0px;
  height: 35px;
  opacity: 1;
  color: #444;
  font-size: 30px;
  font-weight: 400;
}
.chat-bottom-bar .input-group-btn {
  vertical-align: bottom;
  position: relative;
  top: 10px !important;
  left: -65px;
}
.im-embed-attachment-preview {
  position: relative;
  top: 10px;
}
.multiSelect > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #3a7cfb;
  font-weight: 200;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 18px;
  width: 350px;
  cursor: pointer;
  background: #FFFFFF url('/new_platform/static/img/caret.png') no-repeat 95% center;
  background-size: 15px 15px;
  border: 0px solid transparent;
  border-bottom: 2px solid #a5c6ff;
  box-shadow: none !important;
  text-align: left;
}
.multiSelect .caret {
  display: none;
}
.header-title {
  color: #4a4a4a;
  font-weight: 200;
  padding-top: 45px;
  font-family: georgia;
  margin-bottom: 20px;
  font-size: 30px;
}
